@import url('https://fonts.googleapis.com/css?family=Roboto:700|Exo:400');

*{
    margin:0;
    padding:0;
    border:0;
    font-family: Exo;
  }

  body{
    
  }

  h2{
      font-family: Roboto;
      text-transform: uppercase;
      letter-spacing: 3px;
  }

