@import url('https://fonts.googleapis.com/css?family=Roboto:700|Exo:400');

body {
    font-family: Exo, sans-serif;
    background-color: #141313;
    color: #fff;
    font-weight: bold;

}
h1 {
    margin-top:13%;
}
h2 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #028b92;
}
/* Page styling */

#testborder {
    color:#fff;
    background-color: rgba(0, 0, 0, 0.363);
    border-style: double;
    border-width: medium;
    border-color: #fff; 
    border-radius: 33px;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 25px;
    border-bottom: 25px;
}

#gradientDrk {
    background-color: rgba(0, 0, 0, 0.363);
    border-style: double;
    border-width: medium;
    border-color: #fff; 
}
/* /Page styling */
/* Navbar */


.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* /Navbar */

/* Containers */

.reviews-container {
    height: 33%;
    background: url(/assets/images/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.callout-container {
    
    background: url(/assets/images/sven-mieke-MsCgmHuirDo-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.classes-container {
    height: 25%;
    /* background: url(/assets/images/sven-mieke-Lx_GDv7VA9M-unsplash.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* /Containers */

#test {
    background: url(/assets/images/luis-vidal-FodEsaNZs48-unsplash.jpg) no-repeat center center fixed;
    z-index: 1;
    background-size: 100vh;
    color: #fff;
}

#testborder {
    color:#fff;
    background-color: rgba(0, 0, 0, 0.363);
    border-style: double;
    border-width: medium;
    border-color: #fff; 
    border-radius: 33px;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 25px;
    border-bottom: 25px;
}
/* Jumbotron */
.jumbotron-header {
    font-weight: bolder;

}

/* @keyframes hero-zoom{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1);
    }
  } */

/* /Jumbotron */

/* Buttons */


/* /Buttons */

/* Main gym image */
#gym-image {
    height: 700px;
    width: 100%;
    background: url("/assets/images/sven-mieke-MsCgmHuirDo-unsplash.jpg") no-repeat center center;
}

#gym-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

section>h1 {
    text-align: center;
}

section>p {
    text-align: center;
}

#bookClassModal {
    color:#1A1918;
}