@import url('https://fonts.googleapis.com/css?family=Roboto:700|Exo:400');

body {
    font-family: Exo, sans-serif;

}

h2 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1A1918;
}

/* Navbar */


.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* /Navbar */

/* Containers */

.reviews-container {}

.callout-container {
    height: 100vh;
    background: url(/assets/images/sven-mieke-MsCgmHuirDo-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.classes-container {}

/* /Containers */

/* Buttons */


/* /Buttons */

/* Main gym image */
#gym-image {
    height: 700px;
    width: 100%;
    background: url("/assets/images/sven-mieke-MsCgmHuirDo-unsplash.jpg") no-repeat center center;
}

#gym-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

section>h1 {
    text-align: center;
}

section>p {
    text-align: center;
}